<div class="text-center">
  <div>
    <label>Buscar Torneo</label>
    <input type="text" required name="busqueda" [(ngModel)]="codigo" />
    <button name="Buscar" (click)="getTorneo()" class="btn waves-effect waves-light">Buscar</button>
  </div>
</div>
<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Codigo Del Torneo</th>
        <th>Nombre Del Torneo</th>
        <th>Tipo De Torneo</th>
        <th>Deporte</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of listaTorneo">
        <th>{{i.codigo}}</th>
        <td>{{i.nombre}}</td>
        <td>{{i.tipoTorneo}}</td>
        <td>{{i.deporte}}</td>
        <td>
          <button (click)="getInfTorneo(i.codigo)">
            <i>Mostrar Torneo</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
