<div class="container text-center">

  <input name="text"  type="text" placeholder="Ingrese un torneo" [(ngModel)]="codigo">
  <input name="add" (click)="getTorneo()" class="btn btn-primary" type="submit" value="Buscar torneo">
</div>
<div class="container text-center">
  <div>
    <p>{{infoMessage}}</p>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Nombre del Torneo</th>
          <th>Codigo</th>
          <th>Deporte</th>
          <th>Tipo de Torneo</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of listaTorneo">
          <td>{{torneo.nombre}}</td>
          <td>{{torneo.codigo}}</td>
          <td>{{torneo.deporte}}</td>
          <td>{{torneo.tipoTorneo}}</td>
          <td>
            <button (click)="deleteTorneo(i)">
              <i>Borrar</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
