<form name="loginUserForm" class="text-center">
  <div>
    <div>
      <label>Buscar Torneo</label>
      <input type="text" required name="busqueda" [(ngModel)]="torneo.codigo" />
      <button name="Buscar" (click)="getTorneo()" class="btn waves-effect waves-light">Buscar</button>
    </div>
    <div>
      <button name="Buscar" (click)="muestraVista()" class="btn waves-effect waves-light" [hidden]="!bandera">Crear Torneo</button>
    </div>
  </div>
  <div [hidden]="!bandera" class="shadow-none p-3 mb-5 bg-light rounded">
    <div>
      <label>Nombre: {{torneo.nombre}}</label>
    </div>
    <div>
      <label>Deporte: {{torneo.deporte}}</label>
    </div>
    <div>
      <label>Tipo de Torneo: {{torneo.tipoTorneo}}</label>
    </div>
    <div>
      <label>Código: {{torneo.codigo}}</label>
    </div>
    <button name="borrar" type="delete" (click)="deleteTorneo()" class="btn waves-effect waves-light">Borrar Torneo</button>
    <button name="add" type="submit" (click)="addTorneoFavorito()" class="btn waves-effect waves-light">Agregar a Favoritos</button>
  </div>
  <div [hidden]="bandera" class="shadow-none p-3 mb-5 bg-light rounded ">
    <div class="container">
      <label>Nombre</label>
      <input type="text" required name="nombreTorneo" [(ngModel)]="torneo.nombre" />
    </div>
    <div>
      <label>Código</label>
      <input type="text" required name="codigo" [(ngModel)]="torneo.codigo" />
    </div>
    <div>
      <label>Deporte</label>
      <input type="text" required name="deporte" [(ngModel)]="torneo.deporte" />
    </div>
    <div>
      <label>Tipo de Torneo</label>
      <input type="text" required name="tipoTorneo" [(ngModel)]="torneo.tipoTorneo" />
    </div>
    <button name="Validar" type="submit" (click)="addTorneo()" class="btn waves-effect waves-light">Crear Torneo</button>
  </div>
</form>
